<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="Base::Layout(~{::title}, ~{::body})">
<!-- <html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{ Base::Layout(~{::title}, ~{::body}) }"> -->

<head>
	<meta charset="ISO-8859-1">
	<title>viewToDoItemList</title>
</head>

<body>

	<section>

		<div class="container-fluid p-3">
			<div class="row justify-content-center">

				<div class="col-md-12">
					<div class="card animated-card shadow p-2 mb-0 bg-body rounded">

						<!-- ======= card-body ========= -->
						<div class="card-body">

							<p class="text-center fs-4 text-success fst-italic" style="font-weight: 600;">List of ToDo
								Items</p>

							<th:block th:if="${session.msg}">
								<p class="text-center text-success fs-5">[[${session.msg}]]</p>

								<!-- ======= But yo mathi ko message(text) lai remove garna yesto garne ========== -->
								<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>

							</th:block>


							<div class="table-responsive">
								<table class="table" id="todoItemsTable">

									<thead>
										<tr>
											<th>S.N</th>
											<th>Title</th>
											<th>Date</th>
											<th>Status</th>
											<th>Mark Completed</th>
											<th>Edit</th>
											<th>Delete</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="td,c:${tdList}">
											<td class="text-center">[[${c.count}]]</td>
											<td>[[${td.title}]]</td>
											<td>[[${td.date}]]</td>
											<td>[[${td.status}]]</td>
											<td><a th:href="@{'/user/todo/updateStatus/' + ${td.id}}" class="btn btn-success text-white">Mark Complete</a></td>
											<td>
												<a th:href="@{/user/todo/edit(id=${td.id})}">
													<input type="submit" value="Edit" class="btn btn-primary">
												</a>
											</td>

											<td>

												<!-- ====== Modal Baata Delete Garne ====== -->
												<!-- id lagera jaanu parxa modal ma, soo -->

												<button type="button" class="btn btn-danger" data-bs-toggle="modal"
													th:data-bs-target="'#deleteToDoModal-' + ${td.id}">Delete</button>


											</td>
										</tr>
									</tbody>

								</table>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- =========== Footer Start ==============  -->
		<div class="container-fluid text-center text-white myBgColor">
			<!--<p class="py-2">© 2024 Hospital Management System. All rights reserved.</p>-->
			<p class="py-2">© 2024 Designed by <span style="font-weight: 600;">Deepak Baij</span>. All rights reserved.
			</p>
		</div>
		<!-- =========== Footer Start ==============  -->

	</section>


	<!-- =========== Modal Start[for Delete] [outside  card(or column where we use th:each loop) modal lekye th:block use garne] =================== -->
	<th:block th:each="td:${tdList}">
		<div class="modal fade" th:id="'deleteToDoModal-' + ${td.id}" tabindex="-1" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content bg-light">
					<div class="modal-header">
						<h5 class="modal-title text-dark" id="exampleModalLabel">Confirm Deletion</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-dark">
						Are you sure you want to delete this ToDo Item?
					</div>
					<div class="modal-footer border-top-0">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

						<a th:href="@{'/user/todo/delete/' + ${td.id}}">
							<button type="button" class="btn btn-danger">Delete</button>
						</a>

					</div>
				</div>
			</div>
		</div>

	</th:block>
	<!-- =========== Modal End[for Delete] =================== -->



	<!-- =========== Script Start[For DataTable] =========== -->
	<script>
		$(document).ready(function () {
			$('#todoItemsTable').DataTable();
		});
	</script>
	<!-- =========== Script End[For DataTable] ============= -->

</body>

</html>